<!DOCTYPE html>
<html>
<head>
    <title>내 기술 스택</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-8">
    <h1 class="text-2xl font-bold mb-4">내 기술 스택</h1>
	    <form action="/send" method="POST">
        	<input type="text" name="skill" placeholder="기술명(Skill)">
        	<button type="submit">전송</button>
    	</form>

    <h2 class="text-xl font-bold mb-3">입력한 데이터</h2>

	{% for item in messages %}
		{% if item["skill"] == 'Python' %}
			<span class="bg-blue-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% elif item["skill"] == 'HTML' %}
			<span class="bg-orange-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% elif item["skill"] == 'CSS' %}
			<span class="bg-sky-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% elif item["skill"] == 'SQL' %}
			<span class="bg-cyan-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% elif item["skill"] == 'Bash' %}
			<span class="bg-green-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% elif item["skill"] == 'Java' %}
			<span class="bg-red-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% elif item["skill"] == 'JavaScript' %}
			<span class="bg-yellow-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% else %}
			<span class="bg-gray-300 px-3 py-1 rounded-full">{{ item["skill"] }}</span>
		{% endif %}
	{% endfor %}
   
</body>
</html>